/* html:lang(en) * {
  direction: ltr;
} */
@font-face {
  font-family: "poppins";
  src: url("../fonts/Poppins-Regular.ttf");
}
body {
  font-family: "poppins";
}
.router-links {
  flex-direction: row !important;
}
input {
  direction: ltr;
}
